:root{
	--primary-color: #075791;
	--secondary-color: #0cf20e;
	--overlay-color:rgba(24,39,51, 0.85);
}
*{
	box-sizing:border-box;
}
body{
	margin:0;
	padding:0;
	font-family:'lato',sens-serif;
}
.show-case{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100vh;
	background-image: linear-gradient(30deg, var(--primary-color)50%, var(--secondary-color)50%);
}
 h1, h3{
	
	text-align:center;
}
h1{
	font-size:3rem;
	color: #f683b6;
	-webkit-text-stroke:2px #cfab41;
	text-shadow:5px 5px #ff0800;

}
h3{
	font-size:1.5rem;
	color: #ff0800;
}
.menu-wrap{
	position:fixed;
	top:0;
	left:0;
	z-index:1;
}
 .menu-wrap .toggler{

	position:absolute;
	top:0;
	left:0;
	width:50px;
	height:50px;
	cursor:pointer;
	z-index:2;
	opacity:0;
}
/*to show menu*/
.menu-wrap .toggler:checked ~ .menu{
	visibility:visible;
}

 .menu-wrap .toggler:checked ~ .menu > div{
 	transform: scale(1);
 	transition-duration: 0.8s;
 }
.menu-wrap .toggler:checked ~ .menu > div > div{
	opacity:1;
	transition: opacity 0.4s ease;
}


.menu-wrap .hamburger{
	position:absolute;
	top:0;
	left:0;
	width:50px;
	height:50px;
	z-index:1;
	padding:10px;
	display:flex;
	align-items:center;
	justify-content:center;
}
/*to put hamburger line*/
.menu-wrap .hamburger > div{
	position:relative;
	width:100%;
	height:2px;
	background-color: #fff;
	display:flex;
	transition: all 0.4s ease;

}
.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after{
	position:absolute;
	content:' ';
	top:-10px;
	width:100%;
	height:2px;
	background-color: #fff;
	}
	/*to move the line down*/

.menu-wrap .hamburger > div:after{
	top:10px;
}
/*to get toggler animated*/

.menu-wrap .toggler:checked + .hamburger > div{
	transform: rotate(135deg);
}
/*to turn the lines into x*/
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after{
top:0;
	transform:rotate(90deg)

}
/*to rotate on hover when checked*/

.menu-wrap .toggler:checked:hover + .hamburger > div{
	transform: rotate(225deg);
}
.menu-wrap .menu{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	display:flex;
	align-items:center;
	justify-content:center;
	z-index:1;
	visibility:hidden;
}
.menu-wrap .menu > div{
	width:200vw;
	height:200vh;
	border-radius:50%;
	background-color:var(--overlay-color);
	display:flex;
	flex:none;
	align-items:center;
	justify-content:center;
	transform: scale(0);
	transition:all 0.4s ease;
	
}	
.menu-wrap .menu > div > div{
	max-width:90vw;
	max-height:100vh;
	text-align:center;
	opacity: 0;
	transition:all 0.4s ease;
}
.menu-wrap .menu > div > div > ul > li{
	list-style-type:none;
	font-size:1.75rem;
	padding:1rem;
}
.menu-wrap .menu > div > div > ul > li >a{
	text-decoration:none;
	color: #fff;
	transition: color 0.4s ease;
}