:root{
	--primary-color: #075791;
	--secondary-color: #0cf20e;
	--overlay-color:rgba(24,39,51, 0.85);
}
*{
	box-sizing:border-box;
}
body{
	margin:0;
	padding:0;
	font-family:'lato',sens-serif;
	height: 100vh;
}
.show-case{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100vh;
	background-image: linear-gradient(30deg, var(--primary-color)50%, var(--secondary-color)50%);
}
 h1, h3{
	
	text-align:center;
}
h1{
	font-size:3rem;
	color: #f683b6;
	-webkit-text-stroke:2px #cfab41;
	text-shadow:5px 5px #ff0800;

}
h3{
	font-size:1.5rem;
	color: #ff0800;
}
.menu-wrap{
	position:fixed;
	top:0;
	left:0;
	z-index:1;
}
 .menu-wrap .toggler{

	position:absolute;
	top:0;
	left:0;
	width:50px;
	height:50px;
	cursor:pointer;
	z-index:2;
	opacity:0;
}
/*to show menu*/
.menu-wrap .toggler:checked ~ .menu{
	visibility:visible;
}

 .menu-wrap .toggler:checked ~ .menu > div{
 	transform: scale(1);
 	transition-duration: 0.8s;
 }
.menu-wrap .toggler:checked ~ .menu > div > div{
	opacity:1;
	transition: opacity 0.4s ease;
}


.menu-wrap .hamburger{
	position:absolute;
	top:0;
	left:0;
	width:50px;
	height:50px;
	z-index:1;
	padding:10px;
	display:flex;
	align-items:center;
	justify-content:center;
}
/*to put hamburger line*/
.menu-wrap .hamburger > div{
	position:relative;
	width:100%;
	height:2px;
	background-color: #fff;
	display:flex;
	transition: all 0.4s ease;

}
.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after{
	position:absolute;
	content:' ';
	top:-10px;
	width:100%;
	height:2px;
	background-color: #fff;
	}
	/*to move the line down*/

.menu-wrap .hamburger > div:after{
	top:10px;
}
/*to get toggler animated*/

.menu-wrap .toggler:checked + .hamburger > div{
	transform: rotate(135deg);
}
/*to turn the lines into x*/
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after{
top:0;
	transform:rotate(90deg)

}
/*to rotate on hover when checked*/

.menu-wrap .toggler:checked:hover + .hamburger > div{
	transform: rotate(225deg);
}
.menu-wrap .menu{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	display:flex;
	align-items:center;
	justify-content:center;
	z-index:1;
	visibility:hidden;
}
.menu-wrap .menu > div{
	width:200vw;
	height:200vh;
	border-radius:50%;
	background-color:var(--overlay-color);
	display:flex;
	flex:none;
	align-items:center;
	justify-content:center;
	transform: scale(0);
	transition:all 0.4s ease;
	
}	
.menu-wrap .menu > div > div{
	max-width:90vw;
	max-height:100vh;
	text-align:center;
	opacity: 0;
	transition:all 0.4s ease;
}
.menu-wrap .menu > div > div > ul > li{
	list-style-type:none;
	font-size:1.75rem;
	padding:1rem;
}
.menu-wrap .menu > div > div > ul > li >a{
	text-decoration:none;
	color: #fff;
	transition: color 0.4s ease;
}
.head-bar{
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 30%;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	background-color: #357b70;
}
.head-bar{
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 20%;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	background-color: #075791;
	text-shadow: 2px 2px #fff;
}
footer{
	position: sticky;
	top:100%;
	width: 100%;
	height: 100px;
	background-color: #075791;
	opacity: 0.5;
	display: flex;
	align-items: center;
	justify-content: center;
}
.contact-info{
	position: relative;
	top: 20px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 300px;
	grid-gap: 10px;
}
.grid-item{
	background-color: lightgrey;
	padding: 10px;

}
.image{
	position:relative;
	left: 20px;
}
.contact-info__h4{
	text-align: center;
	color: #dd3a6c;
	font-size: 16px;
}
.contact-info p{
	position: relative;
	top: -13px;
	font-size: 14px;
	color: #1f42a5;
}
.footage__item li{
	display: inline-flex;
	margin-left: 30px;
}
.footage__item li a{
	color: #fff;
	text-decoration: none;
}
.gym-image{
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height:100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url('../image/gym.jpg');
	background-size: cover;

}
.gym-image::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-image:linear-gradient(45deg,#075791, #0cf20e, #f683b6);
	opacity:0.8;

}
.gym-greet{
	width: 200px;
	height: 200px;
	background-color: #0cf20e;
	color: #f683b6;
	z-index: 1;
	display: block;
	text-align: center;
	font-size: 1.5rem;
	padding: 10px;
	border-radius: 50%;
}
@keyframes image-out{
	0%{
		transform: scale(0);
	}
	100%{
		transform: scale(1);
	}
}
.gym-greet{
	animation-name: image-out;
	animation-duration: 4s;
	animation-iteration-count: infinite;
}
@media all and (max-width: 500px) {
	.contact-info{
		grid-template-columns: 1fr;
		grid-gap: 5px;
	}
	.grid-item:last-child{
		grid-column: auto/auto;
		grid-row: auto/auto;
	}

}